---
const today = new Date()
---

<footer class='flex justify-center items-center w-full px-16 h-28 border-t-2'>
	<div class="text-center">
		<div>Material solo con fines educativos. <strong>No es un consejo médico.</strong></div>
		<div>Antes de tomar cualquier medicamento, suplemento o hierbas, consulte a su médico para una evaluación adecuada.</div>
		<br/>
		<div>{today.getFullYear()}. Blog de Salud</div>
	</div>
	
</footer>
